#root {
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
  min-height: 100vh;
}

.error-message {
  color: rgba(255, 0, 0, 0.657);
  margin: 20px;
  font-weight: bold;
}

header.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 20px;
  border: 3px solid #002a23;
  background: linear-gradient(270deg, #000000, #002a23);
  background-size: 400% 400%;
  animation: background-gradient-change 20s linear infinite;
}

@keyframes background-gradient-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-container > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.score {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

.score-container {
  display: flex;
  gap: 5px;
}

main.main {
  margin: 20px 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-container {
  border: 2px solid #3a2920;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 0 1 280px;
  cursor: pointer;
  transition: box-shadow 300ms ease;
}

.card-container:hover {
  box-shadow: 0px 0px 20px #3a2920;
}

.img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.card-name {
  color: #6e573f;
  font-weight: bold;
  text-align: center;
}

footer.footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > .github-container {
  display: flex;
  gap: 10px;
}

.github-container img {
  width: 32px;
  transition: filter 300ms ease;
}

.github-container img:hover {
  filter: drop-shadow(0px 0px 5px #765645);
}

@media (max-width: 372px) {
  .score-container > p {
    width: min-content;
  }
}

@media (hover: none) {
  .card-container:hover {
    box-shadow: none;
  }
}
